<%= form_with(model: @loc) do |form| %>

<%# Alt + B + B to close html tag <%%> 
<h1>Test</h1>
<br/>
<h2>We Did it</h2>
<br/>

  <div   
       class ="mapcss"
       data-controller = "maps"   
       data-target="maps.coordinates" 
       data-action="mapsLoaded@document->maps#initializeMap"
       data-lat = "43.639" 
       data-lon="-71.981">      
  </div>

<% end %>


   
