<%= stylesheet_link_tag "gmapping", "data-turbo-track": "reload",defer:true %>
<%= form_with(model: @MarkerImage) do |f| %>
<div  data-maps-target="markerimages" class="modal fade" id="ViewPics" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg"  data-controller = "markerimages" id="markerimagesID" data-maps-target="updatebtn" >
        <div class="modal-content container d-flex justify-content-center">
          <div class="modal-header container d-flex justify-content-center">
            <h1 class="modal-title container d-flex justify-content-center" id="exampleModalLabel">Spot Pics!!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div> 
              <div class="modal-body container d-flex justify-content-center">
               <div class ="container">
                    <div class = "row">
                      <div class="scrollable" data-markerimages-target="mypics">
                        <%= f.rich_text_area :body%>
                        </div>
                    </div> 
               </div>
                <br/> 
               <%# <div class ="container">
                  <div class = "row">
                    <div class="col input-group custom-file-button">                 
                        <label class="input-group-text" for="inputGroupFile">Select Image</label>
                         <%= f.file_field :pictures,multiple: true, class: "form-control",id:"inputGroupFile"  
                    </div>          
               </div> %>
              </div>            
          <div class="modal-footer container d-flex justify-content-center">
           <button type="button" class="btn btn-primary active btn-lg" data-bs-dismiss="modal">Finished!!</button> 
          
           <button data-markerimages-target="deletebtn" type="button" class="btn btn-danger btn-lg active goodGood" >
             Delete Pic
          </button> 
          
          </div>
        </div>
       
      </div>
    </div>
    <% end %>