<%= form_with(model: loc) do |form| %>

<div id ="formContent"  >
    <div class="card text-center h-600" >
      <div class="card-header">
        <h2>Save This Spot Ghetto Force</h2>
      </div>
      <div class="card-body">
         <br/>  
            
          <div class="container">           
            <div class = "row">
              <div class ="col">
                <button type="button" id= "showPicsBtn" class="btn btn-primary btn-lg active" data-bs-toggle="modal" data-bs-target="#ViewPics">
                  Show Pics
                </button>
              </div>            
              <div class = "col">
                <button class="btn btn-primary btn-lg active" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                 Loc Type   
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Stand Pins</a></li>
                    <li><a class="dropdown-item" href="#">Buck Bed Pins</a></li>
                    <li><a class="dropdown-item" href="#">Access Point Pins</a></li>
                  </ul>
                </button>
            </div>     
            </div>
            </div>               
           <br/>
          </div>
          <br/>        
           <%# Compass Starts Here %>
          <div class="container md"> 
              <div class = "row">
               <h3>Select Wind Direction(s)</h3>
              </div>
              <br/>
              <div class="row">                                                                        
                   <div  class="col" data-action="click->maps#sendNorth" data-target="maps.north" data-north = "N">                
                    <img id="northLogo" class="compassBtnNorthSouth"> 
                   </div>                                            
              </div>

              <div class = "row">
                  <div  class="col" data-action="click->maps#sendNorthWest" data-target="maps.northwest" data-northwest = "NW">                     
                       <img id="northWestLogo" class="compassBtnsIntermediate">
                  </div>
                   <div  class="col" data-action="click->maps#sendNorthEast" data-target="maps.northeast" data-northeast = "NE">                
                       <img id="northEastLogo" class="compassBtnsIntermediate">
                   </div>            
              </div>

              <div class="row">
                <div class="col" data-action="click->maps#sendWest" data-target="maps.west" data-west = "W">
                  <img id="westLogo" class="compassBtnWestEast"> 
                </div>
                <div class="col">
                  <%# Center %>
                </div>
                <div class = "col">
                  <%# Need this spacing for compass "symmetry" %>
                </div>
                <div class="col" data-action="click->maps#sendEast" data-target="maps.east" data-east = "E">               
                   <img id="eastLogo" class="compassBtnWestEast"> 
                </div>
              </div>
              
              <div class ="row">
                <div  class="col" data-action="click->maps#sendSouthWest" data-target="maps.southwest" data-southwest = "SW">                
                   <img id="southWestLogo" class="compassBtnsIntermediate">
                </div>  
                <div  class="col" data-action="click->maps#sendSouthEast" data-target="maps.southeast" data-southeast = "SE">                
                  <img id="southEastLogo" class="compassBtnsIntermediate">
                </div>                 
              </div>

              <div class="row">           
                <div class="col "data-action="click->maps#sendSouth" data-target="maps.south" data-south = "S">
                   <img id="southLogo" class="compassBtnNorthSouth"> 
                </div>             
              </div>

             </div> <%# End of Compass %>
          <br/>
          <div class="mb-3">  
            <%= form.text_field :name, class:"form-control", placeholder:"Spot Name",data: {target: "maps.name"} %>
          </div>
           <div class="mb-3">  
            <%= form.text_field :create_date, class:"form-control", placeholder:"The Date",data: {target: "maps.date"} %>
          </div>
          <div class="mb-3" >
             <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Notes" rows="3" data-target="maps.notes"></textarea>
          </div>
          <div class = "mb-3">
           <%= form.text_field :num_sits, class:"form-control", placeholder:"Number of Times Hunted",data: {target: "maps.numsits"} %>           
          </div>     
          <div class="mb-3" data-action="click->maps#saveSpot">
            <button type="button" class="btn btn-primary btn-lg active goodGood" >
               Save Spot
            </button>          
          </div>      
      </div>
      <div class="card-footer text-muted">
       
      </div>
    </div>
</div> 

<% end %>