<%= render "form", madood: @madood, NewDood:'EDIT' %>
<br>
<div class= "container d-flex justify-content-center">
  <%= link_to "Show this dood?", @madood,class:"btn btn-primary btn-lg active" %>
</div>

 <br/>
<div class= "container d-flex justify-content-center">  
  <%= link_to "Back to Madoodz?", madoods_path,class:"btn btn-light btn-lg active" %>
</div>