/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .goodGood{
  background-color: #084298

 }

 .userIcon{
  display:inline_block;
  height:55px;
  width:55px;
  border-radius: 50%; 
  object-fit: cover;
 }

 



 /* change the height of the home page Carousel images  */
.c-item
{
    height: 887px;
}

.c-img
{
    height: 100%;
    object-fit: cover;
    /* filter:brightness(0.7) */
}

/******************************************************************/
/******************************************************************/

/* Increase the size of the previous and next button icons of Bootstrap Carousel  */
.carousel-control-next-icon,
.carousel-control-prev-icon
{
    height: 60px !important;
    width: 60px !important;

}


/******************************************************************/
/******************************************************************/

/* This will change the style of the Select Image Button for profile   */
 .custom-file-button input[type=file] {
    margin-left: -2px !important;    
  }
  
  .custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
  }
  
  .custom-file-button input[type=file]::file-selector-button {
    display: none;
  }
  
  .custom-file-button label {

    background-color: #084298;
    color:white;
    cursor: pointer;
  }

  .cssThoselocPics img {
    object-fit: cover; /* or "contain" depending on your preference */
    width: 100%;
    height: 100%;
  }

  .form-labe{
    font-weight: bold;
  }

  .GoButtonPadding{

    justify-content: flex-end;
  }
/******************************************************************/
/******************************************************************/


/******************************************************************/
/* This is a slick trick to mascarade a checkbox and style it as a bootstrap button */
/* This way it can toggle colors on a click and no javascript is needed*/
/******************************************************************/
.toggle-checkbox {
  display: none;
}

.toggle-checkbox:checked + .custom-btn { 
  background-color: white; /* Color 2 */
  color: red;
  font-weight: bold;  
}
/******************************************************************/
/******************************************************************/

div.gm-style-iw {
  max-height:20px;
  overflow:scroll;
}