<div class="alert alert-dismissible fade show " role="alert" style="background-color: #084298; color:white;">
  <%= notice%>
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
</div>